.iconic-color-default:hover,
.iconic-color-default:focus,
.iconic-color-default:active,
.iconic-color-default:active:focus,
.iconic-color-default:hover *,
.iconic-color-default:focus *,
.iconic-color-default:active *,
.iconic-color-default:active:focus * {
    color: #fcae11 !important;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.profile-font-color,
.profile-font-color * {
    color: #ffffff !important;
}

.navbar-brand span {
    letter-spacing: normal;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    color: #FFFFFF;
}

.form-input-color {
    color: #cccccc;
}

.menu-system-setting {
    display: none !important;
}

/* datatable column align*/
th.dt-center, 
td.dt-center { 
    text-align: center; 
}