.preloader__spinner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.preloader__spinner {
  position: absolute;
  margin: auto;
  z-index: 999999;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-animation: spinnerAnimation 1s ease-in-out infinite;
          animation: spinnerAnimation 1s ease-in-out infinite;
}
@-webkit-keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}